@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;;
}

body {
    height: 100vh;
    background-color: #000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.container_main {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__title {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.container__title__strong {
    color:#22D4FD;
}

.container__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.container__buttons__subtitulo {
    font-family:'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.container__buttons__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    /* Primeiro valor do padding é para vertical e o segundo para horizontal */
    padding: 21.5px 0px;
}

.container__buttons__link:hover {
    background-color: #272727;
}