* {
    margin: 0;
    padding: 0;;
}

body {
    height: 100vh;
    background-color: #000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.container_main {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content {
    width: 615px;
}

.container__title {
    font-size: 36px;
}

.container__title__highlighted {
    color:#22D4FD;
}

.container__text {
    font-size: 24px;
}