*{
    margin: 0;
    padding: 0;;
}

.conteiner-main{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    height: 100vh;
    background-color: #000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.titulo-destaque {
    color:#22D4FD;
}